database_generator/covid_at_lombardy.sqlite
database_generator/eurostat_datasets
database_generator/filemapper.xlsx 
database_generator/coronanet_datasets
database_generator/prototype_eurostat_downloader.ipynb 
database_generator/covid.csv
database_generator/model.ipynb
database_generator/test.ipynb
.ipynb_checkpoints
iso3_eu.txt
tmp_check_iso3.ipynb
tmp_check_policies_1.ipynb
